* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
header {
    max-width: 1140px;
    margin: auto;
}

/* ..........all fonts ...........*/

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.agbalumo-regular {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* ..............nav......... */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav {
    margin-bottom: 120px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

nav li a {
    text-decoration: none;
    font-size: 1rem;
}

.gray-color {
    color: #8987A1;
}

.cart-gap {
    margin-right: 10px;
    color: #000000;
}

.home {
    color: #252432;
    font-weight: 600;
}

.orange-color {
    color: #E95A08;
}

/* .............banner......... */

.banner-items {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 120px;
}

.banner-title {
    color: black;
    font-size: 4.0625rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    color: var(--text-light-dark);
    margin-top: 13px;
    max-width: 530px;
}



/* .............. our plant............ */

.our-plant-header {
    text-align: center;
}

.our-plant {
    margin-bottom: 210px;
}

.our-plant-title {
    margin-top: 120px;
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.our-plant-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    margin: auto;
    margin-top: 16px;
    max-width: 888px;
    margin-bottom: 50px;
}

/* ..............card.............. */

.btn-primary {
    color: white;
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 19px 80px;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    margin-top: 50px;
}

.card-i {
    max-width: 270px;
}

.card-info {
    font-size: 1.375rem;
    text-align: center;
    line-height: 150%;

}

.card-img {
    width: 100%;
}

.card-title {
    margin-bottom: 20px;
    font-weight: 400;
}

.card-subtitle {
    margin-bottom: 30px;
    font-weight: bold;
}

/* ................flower & plant............. */

.flower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 134px;
}

.flower-img {
    max-width: 540px;
}

.trusted-badge {
    width: 286px;
    height: 286px;
    margin-left: -190px;
    margin-top: -560px;
    border-radius: 50%;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.30));

}

.flower-info {
    height: 521px;
}

.flower-title {
    padding-top: 38px;
    color: #000000;
    font-size: 3.125rem;
    font-weight: bold;
    width: 400px;
    margin-bottom: 20px;
}

.flower-description {
    height: 108px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: 400;
}

/* ...........Latest deal.......... */

.latest-deal-info {
    text-align: center;
}

.latest-deal-title {
    font-weight: bold;
    font-size: 3.125rem;
    margin-top: 133px;
    margin-bottom: 16px;
}

.latest-deal-subtitle {
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 120px;
}

.deals-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 28px;
    row-gap: 25px;
}

#box-2 {
    grid-row: span 2;
    grid-column: span 2;
}

#box1,
#box3 {
    width: 366px;
    height: 210px;
}

#box2 {
    width: 753px;
}

.deal-item {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}

.deal-item img {
    width: 100%;
    height: 100%;
}

.deal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.large-deal {
    grid-column: span 2;
    grid-row: span 2;
}

.discount-font {
    font-size: 1.25rem;
    font-weight: bold;
}

.shop-now-font {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.discount-font-large {
    font-size: 2.5rem;
    font-weight: bold;
}

.shop-now-font-large {
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}

/* ...................joining section............. */

.join {
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 199px 305px 193px 305px;
    margin-top: 120px;
}

.join-title {
    font-size: 3.125rem;
    margin-bottom: 23px;
}

.join form {
    display: flex;
    width: 830px;
    height: 50px;
}

.join form input {
    flex: 4;
    border: none;
    outline: none;
    padding-left: 20px;
}

.join form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

/* footer */

.footer {
    display: flex;
    margin: auto;
    padding: 50px 160px;
    justify-content: space-between;
}

.footer li {
    list-style: none;
}

.footer li a {
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}

.subtitle {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.375rem;
}

.l1,
.l2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.icons img {
    margin-right: 24px;
}

.twitter {
    transform: translate(0, -40%);
}

.hide {
    display: none;
}

@media screen and (max-width: 393px) {

    .header,
    .banner-info,
    .our-plant-header,
    .card,
    .flower,
    .latest-deal,.latest-deal
     {
        margin: 0px 16px;
    }

    /* ...........nav.............. */
    .nav {
        margin-top: 13px;
        margin-bottom: 28px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .home,
    .gray-color {
        display: none;
    }

    nav img {
        max-height: 40px;
    }

    /* .............banner.......... */

    .banner-items {
        flex-direction: column-reverse;
        margin-top: 28px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-title {
        font-size: 1.5rem;
        margin-top: 28px;
    }

    .banner-description {
        margin-top: 13px;
        color: rgba(0, 0, 0, 0.5);
    }

    .banner-title,
    .our-plant-title,
    .flower-title,
    .latest-deal-title {
        font-size: 1.5rem;

    }

    .banner-description,
    .our-plant-description,
    .flower-description,
    .latest-deal-subtitle,
    .card-subtitle {
        font-size: 0.875rem;
    }

    /* ..............our plant........... */
    .our-plant {
        margin-bottom: 40px;
    }

    .our-plant-header {
        margin-top: 65px;
    }

    .card {
        margin-left: 14px;
        margin-top: 28px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 0px;
    }

    .card-img {
        max-height: 196px;
        width: 171px;
        margin-bottom: 30px;
    }

    .card-i {
        max-width: 171px;
    }

    .card-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .btn-primary {
        padding: 19px 30px;
        width: 171px;
        font-size: 16px;
    }

    .card-subtitle {
        margin-bottom: 30px;
    }

    /* .................flower.......... */

    .flower {
        flex-direction: column;
        gap: 18px;
        margin-bottom: 143px;
    }

    .trusted-badge {
        display: none;
    }

    .flower-img {
        width: 100%;
    }

    .flower-title {
        width: 270px;
    }

    .flower-info {
        max-height: 240px;
    }

    .flower-description {
        margin-top: 16px;
        margin-left: 22px;

    }

    /* .......latest deal......... */

    .latest-deal-info {
        margin-top: 137px;
        width: 336px;
    }

    #box2 {
        width: 366px;
        height: 210px;
    }

    .discount-font-large {
        font-size: 1.25rem;
    }

    .shop-now-font-large {
        font-size: 1rem;
    }

    .deals-grid-container {
       
        row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    #box3 {
        grid-column: 1;
        grid-row: 2;
    }

    #box1,
    #box2,
    #box3 {
        width: 360px;
    }

    .latest-deal-subtitle {
        margin-bottom: 50px;
    }

    .join {
        padding: 110px 36px 64px 36px;
    }

    .join h3 {
        font-size: 1.25rem;
    }

    .join form {
        width: 321px;
        height: 50px
    }

    .footer-content {
        font-size: 1rem;
    }

    .footer {
        flex-direction: column;
        padding: 50px 16px;
        gap: 20px;
    }

}